.education{
    background-color: white;
    display: flex;
    .left{
        flex: 0.5;
        .text{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 5%;
            height: 40px;
            h1{
                color: red;
            }

        }
        .image{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 10%;
            height: 500px;

        }
    }
    .right{
        flex: 0.5;
        .text2{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 5%;
            height: 40px;
            h1{
                color: red;
            }
        }
        .head{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 10%;

        }
        h3{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 4%;
        }
        .list-group-item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 2%;
        }
    }
    .edu1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10%;
        .dal{
            height: 150px;
            width: 150px;
            display: flex;
            align-items: center;
        justify-content: center;
        flex-direction: column;
            
        }
        
        
        
    }
    
    
    .edu2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .gtu{
            height: 80px;
                width: 80px;
            display: flex;
            align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
            
        }
        
    }
    
}

