
.probackground{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        &.left{
            left: 100px;
            transform: rotateY(180deg);

        }

        &.right{
            right: 100px;
        }
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0%;

            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .left{
                    flex: 12;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 0%;
                    

                    .leftContainer{
                        width: 100%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;


                        .imgContainer{
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img{
                                width: 50px;
                                height: 50px;
                                margin-left: 60%;
                            }
                            

                        }
                        
                        h2{
                            font-size: 40px;
                            margin-left: 10%;
                            margin-top: 0%;
                        }
                        h3{
                            font-size: 10px;
                            margin-left: 50%;
                            
                        }
                        p{
                            font-size: 20px;
                            margin-left: 10%;
                        }
                        span{
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: italic;
                            margin-left: 10%;
                        }
                    }
                }
                .right{
                    flex: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 400px;
                        transform: rotate(-10deg);
                        overflow: hidden;
                    }
                    
                }
            }
        }
    }
}