@import "../../global.scss";


.intro{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow: hidden;

        .imgContainer{
            width: 500px;
            height: 500px;
            background-color: crimson;
            border-radius: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: none;
            margin-left: 25%;
            margin-top: 10%;
            @include mobile{
                align-items: flex-start;
            }
            img{
                height: 100%;

                @include mobile{
                    height: 50%;
                }
            }
        }
       
    }
    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 60px;
                margin: 10px 0;
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 30px;

                span{
                    font-size: inherit;
                    color: crimson;
                }
                .ityped-cursor{
                    animation: blink is infinite;
                }
                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                    
                }
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
       
    }

}